{% extends 'base.html.twig' %}

     {% block body %}

         <div id="header">
             {% block header %}{{ parent() }}{% endblock %}


             <h1 class="heading-1"><i class="fas fa-columns"></i> Tableau de bord</h1>
         </div>
         <div class="conteneur">
            <div id="recap">
                <div class="row">

                    <!-- Solde mois precedent -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-subtitle mb-2 text-muted">Solde actuel</div>
                                <div class="card-text">
                                    <h2><i class="fas fa-wallet fa-lg"></i> {{  balance|number_format(2, ',', ' ') }} €</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Incomes -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-subtitle mb-2 text-muted">Revenues</div>
                                <div class="card-text">
                                    <h2><i class="fas fa-coins fa-lg"></i> {{ totalIncomes|number_format(2, ',', ' ') }} €</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Dépenses -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-subtitle mb-2 text-muted">Dépenses</div>
                                <div class="card-text">
                                    <h2><i class="fas fa-shopping-basket fa-lg"></i> {{ totalExpenses|number_format(2, ',', ' ') }} €</h2>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Economies réalisées -->
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-subtitle mb-2 text-muted">Economies réalisées</div>
                                <div class="card-text">
                                    <h2><i class="fas fa-piggy-bank fa-lg"></i> {{ economies|number_format(2, ',', ' ') }} €</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="row secondLine">

                 <!-- Chart -->
                 <div class="col-md-8">
                     <div class="card">
                         <div class="card-body">
                             <div class="card-title">

                             </div>
                             <div class="card-title">
                                 <canvas id="myChart" width="400" height="200"></canvas>
                             </div>

                         </div>
                     </div>
                 </div>


                 <!-- 10 dernières dépenses -->
                 <div class="col-md-4">
                     <div class="card">
                         <div class="card-body">
                             <div class="card-title">
                                 <h4>10 dernieres dépenses</h4>
                             </div>
                             <div class="card-text">
                                 <div class="list-group">
                                     {% for le in lastExpenses %}
                                         <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                             <div class="d-flex w-100 justify-content-between">
                                                 <h6 class="mb-1">{{ le.title }}</h6>
                                                 <small class="text-danger">{{ le.amount }} €</small>
                                             </div>
                                         </a>
                                     {% endfor %}

                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>

     {% endblock %}

{% block javascripts %}
    <script>


        var ctx = $('#myChart');

        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [{% for c in chart %}
                    '{{ c.date }}',
                    {% endfor %}],
                datasets: [{
                    label: 'Dépenses mensuelle',
                    data: [{% for c in chart %}{{c.amount}},{% endfor %}],
                    backgroundColor: [
                        '#89023E'
                    ],
                    borderColor: [
                        '#ff5e62'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}